dBConnection = ""
PORT = 5050

email_host = ""
cpanel_email = ""
cpanel_email_pass = ""
gmail_email =  ""
mailerhost = smtp.gmail.com
google_clientId = ""
google_clientSecret = ""
google_accessToken = ""
google_refreshToken = ""

jwtSecret = ""

google_service_private_key = ""
google_service_client_email = ""
      

AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""

mailSlurp_apiKey = ""